# Ignore recordings
data/recordings/*.wav
data/recordings/*.txt
data/recordings/

# Python virtual environment
venv/
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
data/recordings/
venv/
data/
segments/
segment.mp3
*.wav
*.mp3
*.ogg
__pycache__/
*.pyc
